.container{
  background-image: linear-gradient(#fbc7d4,#9796f0);
  height:100vh;
  padding:250px;
}
.middle{
  background-color: #ffffff;
  display:flex;
  flex-direction: column;
  /* justify-content: center; */
  padding: 40px;
  width:900px;
  border-radius: 30px;
}
.entireform{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 

}
.imagi{
  width:300px;
  height: 300px;
}
.bottom{
  width:900px;
  
  display:flex;
  flex-direction: row;
  
  flex-wrap: wrap;
}
input,button{
  margin-top: 20px;
  border: 1px solid gray;

}
input{
  height: 30px;
  border-radius: 30px;
  width:350px;
  
}
button{
  background-color: #8b5cf6;
  height:30px;
  width:80px;
  text-align: center;
  border-radius: 5px;
  padding:auto;
  font-weight: bold;
  color: #ffffff;
}
hr{
  color:#0c23b4;
  width:400px;
 }
 .add{
  display: flex;
  flex-direction: row;
   }
  .but{
    background-color: #ffffff !important;
    color: black !important;
    margin-left:450px;
  }
 